.general{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: auto;
    
}
.div1{
    display: flex;
}

#container-productos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.agregar__carrito{
    text-decoration: none;
    color: #000;
    padding: 4px 10px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 10rem;
}

.card{
    width: 300px;
    padding: 30px 10px;
    border: 1px solid #000;
    margin-left: 10px;
    margin-top: 20px;
}

.card-body {
    text-align: center;
 
}
.card-img-top{
    height: 18rem;
    text-align: center;
    width: 18rem;
}

.bienvenida{
    text-align: center;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.total-boton {
    text-align: center;
    display: flex;
    flex-direction: column;}

    img {
        height: 20rem;
        width: 18rem;
    }

    .carrito{
        display: flex;
    }

    .price {
        text-align: center;
        margin-top: 1rem;
    }
    .cantidad {
        font-family: cursive;
        color: darkblue;
    }
    .agregar__carrito {
        text-decoration: none;
        color: #000;
        padding: 4px 10px;
        border: 1px solid #000;
        cursor: pointer;
        border-radius: 10rem;
        text-align: center;}


    .navbar-brand {
        color: white;
        font-size: 2rem;
        font-family: fantasy;
        display: flex;
    }
    .navbar-toggler {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        color: #8BC34A;
        background-color: white;
        border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
        border-radius: var(--bs-navbar-toggler-border-radius);
        transition: var(--bs-navbar-toggler-transition);
    }
    .texto {
        text-align: center;
        margin-top: 6rem;
        font-size: x-large;
    }
    .total-boton {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: 3rem;
        justify-content: center;
        margin-top: 2rem;
    }
    p#precio-total {
        display: flex;
        width: 10rem;
        font-size: xx-large;
    }
    nav.navbar.bg-body-tertiary.fixed-top {
        background-color: black;
    }
    .agregar__carrito{
        background-color: darkseagreen;
    }
    .img2 {
        margin: 2rem;
        height: 10rem;}

    .bienvenida {
            font-size: -webkit-xxx-large;
            color: black;
            margin-top: 1rem;
        }